<html>
<head>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <div class='pane'>
    <div class='header'>
      <h1>{{play.title}}
        <figure>
          <img src="{{creator.picture}}">
          <figcaption>{{creator.name}}</figcaption>
        </figure>
      </h1>
    </div>

    <div class='flash'>
      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
            {% for message in messages %}
              <li> <strong> {{message}}</strong></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    </br>
    {% if characters !=[] %}
      {% for char in characters %}


          <p>
            <a class='name' href="{{url_for('charDesc', play_id=play.id, char_id=char.id)}}"><span>{{char.name}}</span></a>

          </p>


      {% endfor %}

    {% else %}

        <p> There are no characters for this play.
        </br>
        </p>

    {% endif %}



        <a class = 'title' href = '{{url_for('plays')}}'> Return to Plays </a>

  </div>



  </body>

</html>
