<html>
<head>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <div class='pane'>
    <div class='header'>
      <h1>{{play.title}}
        <br /><br />
        <h2>{{character.name}}</h2>
        </h1>

    </div>

    <div class='flash'>
      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
            {% for message in messages %}
              <li> <strong> {{message}}</strong></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    </br>
    <p>
    <div class='description'>{{character.description}}</div>
    </p>


        <a class = 'title' href = '{{url_for('playChars', play_id = play.id)}}'> Return to Play </a>

  </div>



  </body>

</html>
